build/
eburpReference/
# Generated game files
web/pow2*.*
concepts
lib
bower_components/
.coverage
data/textures/basictiles
data/textures/environment-old
server/**/*.js
server/**/*.d.ts
server/**/*.js.map
tasks/*.js
tasks/*.d.ts
tasks/*.js.map