<div class="combat" ng-show="combat" eight-bit-panel>
    <div class="col-xs-12" ng-repeat="hero in combat.party">
        <div class="col-xs-6">
            <strong class="name">{{hero.model.attributes.name}}</strong>
        </div>
        <div class="col-xs-6">
            <div><strong>HP</strong> {{hero.model.attributes.hp}} / {{hero.model.attributes.maxHP}}</div>
            <div class="progress">
                <div class="progress-bar" style="width:{{hero.model.attributes.hp / hero.model.attributes.maxHP * 100}}%;">
                    <span class="sr-only">60% Complete</span>
                </div>
            </div>
        </div>
    </div>
</div>
