<div class="row message">
    <div class="col-xs-12">
        <div class="dialog top ebp" ng-show="dialog">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2 character">
                        <div icon-render icon="dialog.icon"></div>
                    </div>
                    <div class="col-xs-10">
                        <p>{{dialog.title}}</p>
                        <span class="text">{{dialog.text}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
