
.menu-overlay {
  padding:5px;
  position: absolute;
  top: 0;
  right:0;
  margin:5px;
  z-index: 150;
  > span {
    .opacity(0.8);
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.7);
    font-size:42px;
    cursor: pointer;
    &:hover {
      .opacity(1);
    }
  }
}