<div class="game-menu container">
    <a href="#" class="trigger glyphicon glyphicon-chevron-right" ng-click="open=true" ng-hide="open"></a>
    <div class="navigation ng-hide ebp menu-fade" ng-show="open">
        <ul class="options">
            <li>
                <a href="#" class="glyphicon glyphicon-remove" ng-click="open=false"></a>
            </li>
            <li ng-class="{active:page=='party'}">
                <a href="#" class="glyphicon glyphicon-user" ng-click="page='party'"></a>
            </li>
            <li ng-class="{active:page=='inventory'}">
                <a href="#" class="glyphicon glyphicon-briefcase" ng-click="page='inventory'"></a>
            </li>
            <li ng-class="{active:page=='settings'}">
                <a href="#" class="glyphicon glyphicon-list-alt" ng-click="page='settings'"></a>
            </li>
            <li ng-class="{active:page=='save'}">
                <a href="#" class="glyphicon glyphicon-floppy-disk" ng-click="page='save'"></a>
            </li>
        </ul>
    </div>
    <div class="views slide-from-right" ng-show="open" ng-class="{open:open}">
        <div class="party slide-from-right" ng-show="page == 'party'">
            <hero-card class="col-sm-6" hero="member" ng-repeat="member in party"></hero-card>
        </div>
        <div class="inventory slide-from-right" ng-show="page == 'inventory'">
            <inventory-view></inventory-view>
        </div>
        <div class="settings slide-from-right" ng-show="page == 'settings'">
            <level-stats-view></level-stats-view>
        </div>
        <div class="save slide-from-right" ng-show="page == 'save'">
            <button class="btn btn-default btn-large" ng-click="saveGame()">Save Game</button>
        </div>
    </div>

</div>
