<div class="bt-container">
    <nav id="bt-menu" class="bt-menu" ng-click="open = (open == 'bt-menu-open' ? 'bt-menu-close' : 'bt-menu-open')" ng-class="open">
        <a href="#" class="bt-menu-trigger"><span>Menu</span></a>
        <ul>
            <li><a href="#" class="glyphicon glyphicon-user">Party</a></li>
            <li><a href="#" class="glyphicon glyphicon-cog">Settings</a></li>
        </ul>
        <div class="row party" ng-show="open == 'bt-menu-open'">
            <hero-card class="col-sm-6" hero="member" ng-repeat="member in party"></hero-card>
        </div>

    </nav>
</div>