<div class="hero-view ebp">
    <div class="col-xs-6 character">
        <div class="image" icon-render icon="hero.attributes.icon"></div>
        <h1 class="name">{{hero.attributes.name}}</h1>
    </div>
    <div class="col-xs-6 stats">
        <div>Level {{hero.attributes.level}}</div>
        <div>HP {{hero.attributes.hp}} / {{hero.attributes.maxHP}}</div>
        <div class="progress">
            <div class="progress-bar" style="width:{{hero.attributes.hp / hero.attributes.maxHP * 100}}%;">
                <span class="sr-only">60% Complete</span>
            </div>
        </div>
    </div>
</div>
