.hero-card {
  > * {
    font-size: 16px;
    //    font-smooth: never;
    //    -webkit-font-smoothing : none;
    //    -moz-font-smoothing : none;
  }
  width:320px;

  &.dead {
    color:#aaa;
  }

  hr {
    margin-bottom:5px;
    margin-top:5px;
  }

  > .row:first-child {
    padding:0 10px;
  }
  padding: 0 15px;
  h1, .image {
    margin-top:5px;
    text-align: center;
  }
  .progress {
    border-radius: 0;
    margin-bottom:5px;
    height:10px;
  }

  .hero-stat {
    text-align: right;
    strong {
      float:left;
    }
  }
}
