@import "../style/variables";
@import "../style/pageTransitions";

.slide-anim {
}
.slide-anim.ng-hide {
}
.slide-anim.ng-hide-add {
  .pt-page-moveToLeft;
  .pt-page-ontop;
  display:block!important;
}

.slide-anim.ng-hide-remove {
  .pt-page-moveToRight;
  display:block!important;
}

inventory-view {
  .ebp {
    width: 100%;
    height: 50%;
    overflow: auto;
    overflow-x: hidden;
  }
  ul {
    list-style-type: none;
  }
  .unequipped {
    text-align: center;
    margin:0;
    padding:10px;
    > li {
      position: relative;
    }
    .party-select {
      list-style-type: none;
      margin:0;
      padding:10px;
      position: absolute;
      bottom:0;
      li {
        display: inline-block;
      }
    }
  }

  @eqMapSlotSize:64px;
  @eqMapSlotOffset: -(@eqMapSlotSize / 2);

  .character-equipment-map {
    width:400px;
    height:400px;
    background-color: #000011;
    padding:10px;
    margin:0;
    position: relative;
    > li {
      position: absolute;
      width:@eqMapSlotSize;
      height:@eqMapSlotSize;
      background-color: #aaa;
      margin-left:@eqMapSlotOffset;
      margin-top:@eqMapSlotOffset;
    }

    .head {
      top:15%;
      left:50%;
    }
    .jewelry {
      top:30%;
      left:30%;
    }
    .body {
      top:40%;
      left:50%;
    }
    .arms {
      top:40%;
      left:30%;
    }
    .weapon {
      top:70%;
      left:30%;
    }
    .legs {
      top:60%;
      left:50%;
    }
    .feet {
      top:80%;
      left:50%;
    }
  }
}
