<h1>Inventory</h1>

<ul class="unequipped" ng-init="setPartyMember=false">
    <li class="item row scale-down" ng-repeat="item in inventory" ng-show="!item.equippedBy" ng-click="selectPartyMember=!selectPartyMember">
        <div class="col-xs-1 icon" icon-render icon="item.attributes.icon"></div>
        <div class="col-xs-8"><span class="item-name">{{item.attributes.name}}</span></div>
        <ul class="party-select" ng-show="selectPartyMember">
            <li ng-repeat="hero in party">
                <div class="image" icon-render icon="hero.attributes.icon" ng-click="equipItem(item,hero)"></div>
            </li>
        </ul>
    </li>
</ul>

<div class="container">
    <div class="row">
        <div class="col-xs-4">
            <div ng-repeat="item in inventory">
                <div icon-render icon="item.attributes.icon"></div>
                {{item.attributes.name}}
            </div>
        </div>
        <div class="col-xs-4">
            <hero-view hero="member" ng-repeat="member in party"></hero-view>
        </div>
        <div class="col-xs-4">
            <div ng-repeat="item in inventory">
                <div icon-render icon="item.attributes.icon"></div>
                {{item.attributes.name}}
            </div>
        </div>
    </div>
</div>