@import "../style/variables";


inventory-view {
  .unequipped {
    list-style-type: none;
    margin:0;
    padding:10px;
    > li {
      position: relative;
    }
    .party-select {
      list-style-type: none;
      margin:0;
      padding:10px;
      position: absolute;
      bottom:0;
      li {
        display: inline-block;
      }
    }
  }
}
