<div class="level-stats-view col-xs-12 ebp">
    <h3>Warrior</h3>
    <div class="row">
        <div class="col-xs-1">LVL</div>
        <div class="col-xs-2">EXP</div>
        <div class="col-xs-1">HP</div>
        <div class="col-xs-1">STR</div>
        <div class="col-xs-1">AGL</div>
        <div class="col-xs-1">VIT</div>
        <div class="col-xs-1">INT</div>
    </div>
    <div class="row" ng-repeat="level in levelTable">
        <div class="col-xs-1">{{level.level}}</div>
        <div class="col-xs-2">{{level.experience}}</div>
        <div class="col-xs-1">{{level.hp}}</div>
        <div class="col-xs-1">{{level.strength}}</div>
        <div class="col-xs-1">{{level.agility}}</div>
        <div class="col-xs-1">{{level.vitality}}</div>
        <div class="col-xs-1">{{level.intelligence}}</div>
    </div>
</div>
