<div class="row title" ng-show="store">
    <div class="col-xs-12">
        <div class="name" eight-bit-panel>
            <h1>{{store.name}}</h1> <span>Gold: {{gameModel.attributes.gold}}</span>
        </div>
    </div>
</div>

<div class="row store" ng-show="store">
    <div class="col-xs-12">
        <div class="inventory" eight-bit-panel>
            <ul class="container">
                <li class="item row" ng-repeat="item in store.inventory" ng-click="buyItem(item)">
                    <div class="col-xs-1 icon" icon-render icon="item.icon">
                    </div>
                    <div class="col-xs-8">
                        <span class="item-name">{{item.name}}</span>
                    </div>
                    <div class="col-xs-3 item-price">
                        <strong>{{item.cost}}</strong>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
