.stroke-text(@width:2px,@color) {
  text-shadow: @width  @width 0 @color,
    -@width -@width 0 @color,
    @width -@width 0 @color,
  -@width  @width 0 @color;
}

.damage-value {
  font-family: 'GraphicPixel', sans-serif;
  font-size: 3em;
  color: #F00;
  z-index: 100;
  .stroke-text(2px, rgba(255, 255, 255, 0.9));
  &.miss {
    color: #ccc;
    .stroke-text(1px, #222);
  }
  &.heal {
    color: #0E0;
    .stroke-text(1px, #222);
  }
}

/* Damage Value animation */
@-webkit-keyframes damageValueAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.0;
    -webkit-transform: translateY(-50%);
  }
}

@-moz-keyframes damageValueAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.0;
    -moz-transform: translateY(-50%);
  }
}

@keyframes damageValueAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.0;
    transform: translateY(-50%);
  }
}

.damage-value {
  opacity: 0;
  display: none !important;
}

.damage-value.ng-enter {
  opacity: 1;
  display: block !important;
}

.damage-value.ng-enter,
.damage-value.ng-enter.ng-enter-active {
  display: block !important;
  -webkit-animation: damageValueAnimation 1.2s ease-in;
  -moz-animation: damageValueAnimation 1.2s ease-in;
  animation: damageValueAnimation 1.2s ease-in;
}

.damage-value.ng-leave {
  display: none !important;
}

.damage-value.ng-leave,
.damage-value.ng-leave-active {
  display: none !important;
}
