<!-- Pow2 -->
<!doctype html>
<html ng-app="dorkapon">
<head>
  <title>Pow2 - Dorkapon</title>

  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <meta http-equiv="Content-Style-Type" content="text/css"/>
  <meta http-equiv="Content-Script-Type" content="text/javascript"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <style type="text/css">
    .ng-hide {
      display: none !important;
    }
  </style>
  <link rel="stylesheet" type="text/css" href="/css/dorkapon.css" media="all"/>
  <link rel="stylesheet" type="text/css" href="/css/pow2.ui.css" media="all"/>
  <link rel="stylesheet" type="text/css" href="/bower/angular-material/angular-material.css" media="all"/>
</head>
<body ng-controller="DorkaponGameController">
<div class="loading fade pt-page-scaleUp" ng-show="loading">
  <div class="loading-wrapper">
    <div class="loading-wrapper-inner">
      <div class="hero-container">
        <h1 ng-bind="loadingTitle">Dorkapon</h1>

        <p ng-bind="loadingMessage">Waking up...</p>
      </div>
    </div>
  </div>
</div>

<div layout="column" layout-fill ng-if="loaded" class="ng-cloak">
  <section layout="row" flex>
    <div layout="column" layout-fill>
      <!-- Map HUD -->
      <md-toolbar ng-controller="MapHudController as hud" layout="row" ng-show="!inCombat">
        <h3 class="md-toolbar-tools">
          <i class="image" icon-render
             icon="hud.turn.player.model.attributes.icon"
             frame="7" width="48" height="48"
             ng-click="hud.showPlayerCard(hud.turn.player)"></i>
          <span>{{hud.turn.player.model.attributes.name}}</span>
          <span flex></span>
          <span>{{hud.turn.player.model.attributes.moves}} Moves Left</span>
        </h3>
      </md-toolbar>
      <!-- Combat HUD -->
      <md-toolbar ng-controller="CombatHudController as hud" layout="row" ng-show="inCombat">
        <h3 class="md-toolbar-tools">
          <i class="image" icon-render icon="hud.combat.left.model.attributes.icon" frame="7" width="48"
             height="48"></i>

          <div layout="column" flex="30">
            <span>{{hud.combat.left.model.attributes.level}} {{hud.combat.left.model.attributes.name}}</span>
            <md-progress-linear class="md-accent" md-mode="determinate"
                                value="{{hud.getHitPointValue(hud.combat.left)}}"></md-progress-linear>
          </div>
          <span flex></span>

          <div layout="column" flex="30">
            <span>{{hud.combat.right.model.attributes.level}} {{hud.combat.right.model.attributes.name}}</span>
            <md-progress-linear class="md-accent" md-mode="determinate"
                                value="{{hud.getHitPointValue(hud.combat.right)}}"></md-progress-linear>
          </div>
          <i class="image" icon-render icon="hud.combat.right.model.attributes.icon" frame="7" width="48"
             height="48"></i>
        </h3>
      </md-toolbar>
      <div class="canvas-area" flex layout="row" layout-align="center center">
        <canvas width="800" height="600" dorkapon-map>
          Your browser doesn't support this.
        </canvas>
      </div>
    </div>
  </section>
</div>

<!-- Compiled Game Files -->
<script type="text/javascript" src="/bower/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/bower/underscore/underscore-min.js"></script>
<script type="text/javascript" src="/bower/backbone/backbone.js"></script>

<script src="/bower/angular/angular.js"></script>
<script src="/bower/angular-aria/angular-aria.js"></script>
<script src="/bower/angular-animate/angular-animate.js"></script>
<script src="/bower/angular-material/angular-material.js"></script>

<script type="text/javascript" src="/bower/astar/astar.js"></script>
<script type="text/javascript" src="/bower/tabletop/src/tabletop.js"></script>
<script type="text/javascript" src="/bower/pow-core/lib/pow-core.js"></script>
<script type="text/javascript" src="/lib/pow2.js"></script>
<script type="text/javascript" src="/lib/pow2.ui.js"></script>
<script type="text/javascript" src="/lib/pow2.sprites.js"></script>
<script type="text/javascript" src="/lib/pow2.dorkapon.js"></script>

</body>
</html>