<div class="row message">
    <div class="col-xs-12">
        <div class="dialog top" eight-bit-panel ng-show="dialog">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2 character" icon-render feature="dialog" ng-show="dialog.image">
                        <img src="{{dialog.image}}">
                        <p>{{dialog.title}}</p>
                    </div>
                    <div class="col-xs-10">
                        <span class="text">{{dialog.text}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
