<div class="hero-stats-view" eight-bit-panel>
    <div class="row">
        <div class="col-xs-6 character">
            <div class="image" icon-render icon="hero.attributes.icon"></div>
            <h1 class="name">{{hero.attributes.name}}</h1>
        </div>
        <div class="col-xs-6 stats">
            <div><strong>Level</strong> {{hero.attributes.level}}</div>
            <div><strong>HP</strong> {{hero.attributes.hp}} / {{hero.attributes.maxHP}}</div>
            <div class="progress">
                <div class="progress-bar" style="width:{{hero.attributes.hp / hero.attributes.maxHP * 100}}%;">
                    <span class="sr-only">60% Complete</span>
                </div>
            </div>
            <div><strong>EXP</strong> {{hero.attributes.exp}} / {{hero.attributes.nextLevelExp}}</div>
            <div class="progress">
                <div class="progress-bar" style="width:{{(hero.attributes.exp - hero.attributes.prevLevelExp) / (hero.attributes.nextLevelExp - hero.attributes.prevLevelExp) * 100 }}%;">
                </div>
            </div>
        </div>
    </div>
    <div class="row"><h1>Stats</h1></div>
    <div class="row">
        <div class="col-xs-6 stats">
            <div><strong>Strength</strong> : {{hero.attributes.strength}}</div>
            <div><strong>Agility</strong> : {{hero.attributes.agility}}</div>
            <div><strong>Vitality</strong> : {{hero.attributes.vitality}}</div>
            <div><strong>Intelligence</strong> : {{hero.attributes.intelligence}}</div>
        </div>
        <div class="col-xs-6">
            <div>Damage : {{hero.getDamage()}}</div>
            <div>Defense : {{hero.getDefense()}}</div>
        </div>
    </div>
    <div class="row"><h1>Equipment</h1></div>
    <div class="row">
        <div class="col-xs-6 stats">
            <div><strong>Weapon</strong> : {{hero.weapon.name}}</div>
        </div>
        <div class="col-xs-6 stats">
            <div ng-repeat="piece in hero.armor">
                <div class="image" icon-render icon="piece.icon"></div>
                <!--<div>{{piece}}</div>-->
            </div>
        </div>
    </div>
</div>