<div class="hero-view" eight-bit-panel>
    <div class="col-xs-6 character">
        <div class="image" icon-render icon="hero.attributes.icon"></div>
        <h1 class="name">{{hero.attributes.name}}</h1>
    </div>
    <div class="col-xs-6 stats">
        <div><strong>Level</strong> {{hero.attributes.level}}</div>
        <div><strong>HP</strong> {{hero.attributes.hp}} / {{hero.attributes.maxHP}}</div>
        <div class="progress">
            <div class="progress-bar" style="width:{{hero.attributes.hp / hero.attributes.maxHP * 100}}%;">
                <span class="sr-only">60% Complete</span>
            </div>
        </div>
        <div><strong>EXP</strong> {{hero.attributes.exp}} / {{hero.attributes.nextLevelExp}}</div>
        <div class="progress">
            <div class="progress-bar" style="width:{{hero.attributes.exp / hero.attributes.nextLevelExp * 100}}%;">
            </div>
        </div>
    </div>
</div>
