@font-face {
  font-family: 'GraphicPixel';
  src: url('/fonts/bq/graphicpixel-webfont.eot');
  src: url('/fonts/bq/graphicpixel-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/bq/graphicpixel-webfont.woff') format('woff'), url('/fonts/bq/graphicpixel-webfont.ttf') format('truetype'), url('/fonts/bq/graphicpixel-webfont.svg#GraphicPixelRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AdvoCut';
  src: url('/fonts/bq/advocut-webfont.eot');
  src: url('/fonts/bq/advocut-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/bq/advocut-webfont.woff') format('woff'), url('/fonts/bq/advocut-webfont.ttf') format('truetype'), url('/fonts/bq/advocut-webfont.svg#AndinaRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.ng-cloak {
  display: none !important;
}
.damage-value {
  font-family: 'GraphicPixel', sans-serif;
  font-size: 3em;
  color: #F00;
  z-index: 100;
  text-shadow: 2px 2px 0 rgba(255, 255, 255, 0.9), -2px -2px 0 rgba(255, 255, 255, 0.9), 2px -2px 0 rgba(255, 255, 255, 0.9), -2px 2px 0 rgba(255, 255, 255, 0.9);
}
.damage-value.miss {
  color: #ccc;
  text-shadow: 1px 1px 0 #222222, -1px -1px 0 #222222, 1px -1px 0 #222222, -1px 1px 0 #222222;
}
.damage-value.heal {
  color: #0E0;
  text-shadow: 1px 1px 0 #222222, -1px -1px 0 #222222, 1px -1px 0 #222222, -1px 1px 0 #222222;
}
/* Damage Value animation */
@-webkit-keyframes damageValueAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.0;
    -webkit-transform: translateY(-50%);
  }
}
@-moz-keyframes damageValueAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.0;
    -moz-transform: translateY(-50%);
  }
}
@keyframes damageValueAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.0;
    transform: translateY(-50%);
  }
}
.damage-value {
  opacity: 0;
  display: none !important;
}
.damage-value.ng-enter {
  opacity: 1;
  display: block !important;
}
.damage-value.ng-enter,
.damage-value.ng-enter.ng-enter-active {
  display: block !important;
  -webkit-animation: damageValueAnimation 1.2s ease-in;
  -moz-animation: damageValueAnimation 1.2s ease-in;
  animation: damageValueAnimation 1.2s ease-in;
}
.damage-value.ng-leave {
  display: none !important;
}
.damage-value.ng-leave,
.damage-value.ng-leave-active {
  display: none !important;
}
@-webkit-keyframes moveFromRight {
  from {
    -webkit-transform: translateX(100%);
  }
}
@-moz-keyframes moveFromRight {
  from {
    -moz-transform: translateX(100%);
  }
}
@keyframes moveFromRight {
  from {
    transform: translateX(100%);
  }
}
@-webkit-keyframes moveToRight {
  to {
    -webkit-transform: translateX(100%);
  }
}
@-moz-keyframes moveToRight {
  to {
    -moz-transform: translateX(100%);
  }
}
@keyframes moveToRight {
  to {
    transform: translateX(100%);
  }
}
@-webkit-keyframes moveFromTop {
  from {
    opacity: 0.3;
    -webkit-transform: translateY(-100%);
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes moveFromTop {
  from {
    opacity: 0.3;
    -moz-transform: translateY(-100%);
  }
  to {
    opacity: 1;
  }
}
@keyframes moveFromTop {
  from {
    opacity: 0.3;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes moveToTop {
  to {
    opacity: 0.3;
    -webkit-transform: translateY(100%);
  }
}
@-moz-keyframes moveToTop {
  to {
    opacity: 0.3;
    -moz-transform: translateY(100%);
  }
}
@keyframes moveToTop {
  to {
    opacity: 0.3;
    transform: translateY(100%);
  }
}
@-webkit-keyframes fadeOut {
  to {
    opacity: 0.0;
  }
}
@-moz-keyframes fadeOut {
  to {
    opacity: 0.0;
  }
}
@keyframes fadeOut {
  to {
    opacity: 0.0;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0.0;
  }
  to {
    opacity: 1.0;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0.0;
  }
  to {
    opacity: 1.0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0.0;
  }
  to {
    opacity: 1.0;
  }
}
.moveFromRight {
  -webkit-animation: moveFromRight .6s ease both;
  -moz-animation: moveFromRight .6s ease both;
  animation: moveFromRight .6s ease both;
}
.moveToRight {
  -webkit-animation: moveToRight .6s ease both;
  -moz-animation: moveToRight .6s ease both;
  animation: moveToRight .6s ease both;
}
.slide-from-right.ng-hide-add {
  -webkit-animation: moveToRight .6s ease both;
  -moz-animation: moveToRight .6s ease both;
  animation: moveToRight .6s ease both;
  display: block !important;
}
.slide-from-right.ng-hide-remove {
  -webkit-animation: moveFromRight .6s ease both;
  -moz-animation: moveFromRight .6s ease both;
  animation: moveFromRight .6s ease both;
  display: block !important;
}
.fadeOut {
  -webkit-animation: fadeOut 0.3s ease both;
  -moz-animation: fadeOut 0.3s ease both;
  animation: fadeOut 0.3s ease both;
}
.fadeIn {
  -webkit-animation: fadeIn 0.3s ease both;
  -moz-animation: fadeIn 0.3s ease both;
  animation: fadeIn 0.3s ease both;
}
.menu-fade.ng-hide-add {
  -webkit-animation: fadeOut 0.3s ease both;
  -moz-animation: fadeOut 0.3s ease both;
  animation: fadeOut 0.3s ease both;
  display: block !important;
}
.menu-fade.ng-hide-remove {
  -webkit-animation: fadeIn 0.3s ease both;
  -moz-animation: fadeIn 0.3s ease both;
  animation: fadeIn 0.3s ease both;
  display: block !important;
}
.fade.ng-enter {
  opacity: 0;
  display: block !important;
}
.fade.ng-enter,
.fade.ng-enter.ng-enter-active {
  -webkit-animation: fadeIn 0.3s ease both;
  -moz-animation: fadeIn 0.3s ease both;
  animation: fadeIn 0.3s ease both;
  display: block !important;
}
.fade.ng-leave {
  opacity: 1;
  display: block !important;
}
.fade.ng-leave,
.fade.ng-leave-active {
  -webkit-animation: fadeOut 0.3s ease both;
  -moz-animation: fadeOut 0.3s ease both;
  animation: fadeOut 0.3s ease both;
  display: block !important;
}
.fade.ng-hide-add,
.fade.ng-hide-remove {
  display: block !important;
}
.fade.ng-hide-add-active,
.fade.ng-hide-remove-active {
  display: block !important;
}
.fade.ng-hide-add {
  opacity: 1;
  -webkit-animation: fadeOut 0.3s ease both;
  -moz-animation: fadeOut 0.3s ease both;
  animation: fadeOut 0.3s ease both;
}
.fade.ng-hide-remove {
  opacity: 0;
  -webkit-animation: fadeIn 0.3s ease both;
  -moz-animation: fadeIn 0.3s ease both;
  animation: fadeIn 0.3s ease both;
}
.scale-down.ng-hide-add {
  -webkit-animation: scaleDownUp .5s ease both;
  -moz-animation: scaleDownUp .5s ease both;
  animation: scaleDownUp .5s ease both;
  z-index: 99;
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  animation-delay: .5s;
  display: block !important;
}
.scale-down.ng-hide-remove {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation: scaleUp .7s ease both;
  -moz-animation: scaleUp .7s ease both;
  animation: scaleUp .7s ease both;
  display: block !important;
}
/*
  Page Transitions from Tympanus article:

  http://tympanus.net/codrops/2013/05/07/a-collection-of-page-transitions/
*/
.pt-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.no-js body {
  overflow: auto;
}
.pt-page-ontop {
  z-index: 99;
}
.pt-page {
  visibility: visible;
  z-index: 1;
}
/* scale and fade */
.pt-page-scaleDown {
  -webkit-animation: scaleDown .7s ease both;
  -moz-animation: scaleDown .7s ease both;
  animation: scaleDown .7s ease both;
}
.pt-page-scaleUp {
  -webkit-animation: scaleUp .7s ease both;
  -moz-animation: scaleUp .7s ease both;
  animation: scaleUp .7s ease both;
}
.pt-page-scaleUpDown {
  -webkit-animation: scaleUpDown .5s ease both;
  -moz-animation: scaleUpDown .5s ease both;
  animation: scaleUpDown .5s ease both;
}
.pt-page-scaleDownUp {
  -webkit-animation: scaleDownUp .5s ease both;
  -moz-animation: scaleDownUp .5s ease both;
  animation: scaleDownUp .5s ease both;
}
.pt-page-scaleDownCenter {
  -webkit-animation: scaleDownCenter 0.4s ease-in both;
  -moz-animation: scaleDownCenter 0.4s ease-in both;
  animation: scaleDownCenter 0.4s ease-in both;
}
.pt-page-scaleUpCenter {
  -webkit-animation: scaleUpCenter 0.4s ease-out both;
  -moz-animation: scaleUpCenter 0.4s ease-out both;
  animation: scaleUpCenter 0.4s ease-out both;
}
/********************************* keyframes **************************************/
/* scale and fade */
@-webkit-keyframes scaleDown {
  to {
    opacity: 0;
    -webkit-transform: scale(0.8);
  }
}
@-moz-keyframes scaleDown {
  to {
    opacity: 0;
    -moz-transform: scale(0.8);
  }
}
@keyframes scaleDown {
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}
@-webkit-keyframes scaleUp {
  from {
    opacity: 0;
    -webkit-transform: scale(0.8);
  }
}
@-moz-keyframes scaleUp {
  from {
    opacity: 0;
    -moz-transform: scale(0.8);
  }
}
@keyframes scaleUp {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
}
@-webkit-keyframes scaleUpDown {
  from {
    opacity: 0;
    -webkit-transform: scale(1.2);
  }
}
@-moz-keyframes scaleUpDown {
  from {
    opacity: 0;
    -moz-transform: scale(1.2);
  }
}
@keyframes scaleUpDown {
  from {
    opacity: 0;
    transform: scale(1.2);
  }
}
@-webkit-keyframes scaleDownUp {
  to {
    opacity: 0;
    -webkit-transform: scale(1.2);
  }
}
@-moz-keyframes scaleDownUp {
  to {
    opacity: 0;
    -moz-transform: scale(1.2);
  }
}
@keyframes scaleDownUp {
  to {
    opacity: 0;
    transform: scale(1.2);
  }
}
@-webkit-keyframes scaleDownCenter {
  to {
    opacity: 0;
    -webkit-transform: scale(0.7);
  }
}
@-moz-keyframes scaleDownCenter {
  to {
    opacity: 0;
    -moz-transform: scale(0.7);
  }
}
@keyframes scaleDownCenter {
  to {
    opacity: 0;
    transform: scale(0.7);
  }
}
@-webkit-keyframes scaleUpCenter {
  from {
    opacity: 0;
    -webkit-transform: scale(0.7);
  }
}
@-moz-keyframes scaleUpCenter {
  from {
    opacity: 0;
    -moz-transform: scale(0.7);
  }
}
@keyframes scaleUpCenter {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
}
/* animation delay classes */
.pt-page-delay100 {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  animation-delay: .1s;
}
.pt-page-delay180 {
  -webkit-animation-delay: .180s;
  -moz-animation-delay: .180s;
  animation-delay: .180s;
}
.pt-page-delay200 {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  animation-delay: .2s;
}
.pt-page-delay300 {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  animation-delay: .3s;
}
.pt-page-delay400 {
  -webkit-animation-delay: .4s;
  -moz-animation-delay: .4s;
  animation-delay: .4s;
}
.pt-page-delay500 {
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  animation-delay: .5s;
}
.pt-page-delay700 {
  -webkit-animation-delay: .7s;
  -moz-animation-delay: .7s;
  animation-delay: .7s;
}
.pt-page-delay1000 {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
.pt-page-moveToLeft {
  -webkit-animation: moveToLeft .6s ease both;
  -moz-animation: moveToLeft .6s ease both;
  animation: moveToLeft .6s ease both;
}
.pt-page-moveFromLeft {
  -webkit-animation: moveFromLeft .6s ease both;
  -moz-animation: moveFromLeft .6s ease both;
  animation: moveFromLeft .6s ease both;
}
.pt-page-moveToRight {
  -webkit-animation: moveToRight .6s ease both;
  -moz-animation: moveToRight .6s ease both;
  animation: moveToRight .6s ease both;
}
.pt-page-moveFromRight {
  -webkit-animation: moveFromRight .6s ease both;
  -moz-animation: moveFromRight .6s ease both;
  animation: moveFromRight .6s ease both;
}
.pt-page-moveToTop {
  -webkit-animation: moveToTop .6s ease both;
  -moz-animation: moveToTop .6s ease both;
  animation: moveToTop .6s ease both;
}
.pt-page-moveFromTop {
  -webkit-animation: moveFromTop .6s ease both;
  -moz-animation: moveFromTop .6s ease both;
  animation: moveFromTop .6s ease both;
}
.pt-page-moveToBottom {
  -webkit-animation: moveToBottom .6s ease both;
  -moz-animation: moveToBottom .6s ease both;
  animation: moveToBottom .6s ease both;
}
.pt-page-moveFromBottom {
  -webkit-animation: moveFromBottom .6s ease both;
  -moz-animation: moveFromBottom .6s ease both;
  animation: moveFromBottom .6s ease both;
}
/* fade */
.pt-page-fade {
  -webkit-animation: fade .7s ease both;
  -moz-animation: fade .7s ease both;
  animation: fade .7s ease both;
}
/* move from / to and fade */
.pt-page-moveToLeftFade {
  -webkit-animation: moveToLeftFade .7s ease both;
  -moz-animation: moveToLeftFade .7s ease both;
  animation: moveToLeftFade .7s ease both;
}
.pt-page-moveFromLeftFade {
  -webkit-animation: moveFromLeftFade .7s ease both;
  -moz-animation: moveFromLeftFade .7s ease both;
  animation: moveFromLeftFade .7s ease both;
}
.pt-page-moveToRightFade {
  -webkit-animation: moveToRightFade .7s ease both;
  -moz-animation: moveToRightFade .7s ease both;
  animation: moveToRightFade .7s ease both;
}
.pt-page-moveFromRightFade {
  -webkit-animation: moveFromRightFade .7s ease both;
  -moz-animation: moveFromRightFade .7s ease both;
  animation: moveFromRightFade .7s ease both;
}
.pt-page-moveToTopFade {
  -webkit-animation: moveToTopFade .7s ease both;
  -moz-animation: moveToTopFade .7s ease both;
  animation: moveToTopFade .7s ease both;
}
.pt-page-moveFromTopFade {
  -webkit-animation: moveFromTopFade .7s ease both;
  -moz-animation: moveFromTopFade .7s ease both;
  animation: moveFromTopFade .7s ease both;
}
.pt-page-moveToBottomFade {
  -webkit-animation: moveToBottomFade .7s ease both;
  -moz-animation: moveToBottomFade .7s ease both;
  animation: moveToBottomFade .7s ease both;
}
.pt-page-moveFromBottomFade {
  -webkit-animation: moveFromBottomFade .7s ease both;
  -moz-animation: moveFromBottomFade .7s ease both;
  animation: moveFromBottomFade .7s ease both;
}
/* move to with different easing */
.pt-page-moveToLeftEasing {
  -webkit-animation: moveToLeft 0.7s ease-in-out both;
  -moz-animation: moveToLeft 0.7s ease-in-out both;
  animation: moveToLeft 0.7s ease-in-out both;
}
.pt-page-moveToRightEasing {
  -webkit-animation: moveToRight 0.7s ease-in-out both;
  -moz-animation: moveToRight 0.7s ease-in-out both;
  animation: moveToRight 0.7s ease-in-out both;
}
.pt-page-moveToTopEasing {
  -webkit-animation: moveToTop 0.7s ease-in-out both;
  -moz-animation: moveToTop 0.7s ease-in-out both;
  animation: moveToTop 0.7s ease-in-out both;
}
.pt-page-moveToBottomEasing {
  -webkit-animation: moveToBottom 0.7s ease-in-out both;
  -moz-animation: moveToBottom 0.7s ease-in-out both;
  animation: moveToBottom 0.7s ease-in-out both;
}
/********************************* keyframes **************************************/
/* move from / to  */
@-webkit-keyframes moveToLeft {
  to {
    -webkit-transform: translateX(-100%);
  }
}
@-moz-keyframes moveToLeft {
  to {
    -moz-transform: translateX(-100%);
  }
}
@keyframes moveToLeft {
  to {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes moveFromLeft {
  from {
    -webkit-transform: translateX(-100%);
  }
}
@-moz-keyframes moveFromLeft {
  from {
    -moz-transform: translateX(-100%);
  }
}
@keyframes moveFromLeft {
  from {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes moveToRight {
  to {
    -webkit-transform: translateX(100%);
  }
}
@-moz-keyframes moveToRight {
  to {
    -moz-transform: translateX(100%);
  }
}
@keyframes moveToRight {
  to {
    transform: translateX(100%);
  }
}
@-webkit-keyframes moveFromRight {
  from {
    -webkit-transform: translateX(100%);
  }
}
@-moz-keyframes moveFromRight {
  from {
    -moz-transform: translateX(100%);
  }
}
@keyframes moveFromRight {
  from {
    transform: translateX(100%);
  }
}
@-webkit-keyframes moveToTop {
  to {
    -webkit-transform: translateY(-100%);
  }
}
@-moz-keyframes moveToTop {
  to {
    -moz-transform: translateY(-100%);
  }
}
@keyframes moveToTop {
  to {
    transform: translateY(-100%);
  }
}
@-webkit-keyframes moveFromTop {
  from {
    -webkit-transform: translateY(-100%);
  }
}
@-moz-keyframes moveFromTop {
  from {
    -moz-transform: translateY(-100%);
  }
}
@keyframes moveFromTop {
  from {
    transform: translateY(-100%);
  }
}
@-webkit-keyframes moveToBottom {
  to {
    -webkit-transform: translateY(100%);
  }
}
@-moz-keyframes moveToBottom {
  to {
    -moz-transform: translateY(100%);
  }
}
@keyframes moveToBottom {
  to {
    transform: translateY(100%);
  }
}
@-webkit-keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(100%);
  }
}
@-moz-keyframes moveFromBottom {
  from {
    -moz-transform: translateY(100%);
  }
}
@keyframes moveFromBottom {
  from {
    transform: translateY(100%);
  }
}
/* fade */
@-webkit-keyframes fade {
  to {
    opacity: 0.3;
  }
}
@-moz-keyframes fade {
  to {
    opacity: 0.3;
  }
}
@keyframes fade {
  to {
    opacity: 0.3;
  }
}
/* move from / to and fade */
@-webkit-keyframes moveToLeftFade {
  to {
    opacity: 0.3;
    -webkit-transform: translateX(-100%);
  }
}
@-moz-keyframes moveToLeftFade {
  to {
    opacity: 0.3;
    -moz-transform: translateX(-100%);
  }
}
@keyframes moveToLeftFade {
  to {
    opacity: 0.3;
    transform: translateX(-100%);
  }
}
@-webkit-keyframes moveFromLeftFade {
  from {
    opacity: 0.3;
    -webkit-transform: translateX(-100%);
  }
}
@-moz-keyframes moveFromLeftFade {
  from {
    opacity: 0.3;
    -moz-transform: translateX(-100%);
  }
}
@keyframes moveFromLeftFade {
  from {
    opacity: 0.3;
    transform: translateX(-100%);
  }
}
@-webkit-keyframes moveToRightFade {
  to {
    opacity: 0.3;
    -webkit-transform: translateX(100%);
  }
}
@-moz-keyframes moveToRightFade {
  to {
    opacity: 0.3;
    -moz-transform: translateX(100%);
  }
}
@keyframes moveToRightFade {
  to {
    opacity: 0.3;
    transform: translateX(100%);
  }
}
@-webkit-keyframes moveFromRightFade {
  from {
    opacity: 0.3;
    -webkit-transform: translateX(100%);
  }
}
@-moz-keyframes moveFromRightFade {
  from {
    opacity: 0.3;
    -moz-transform: translateX(100%);
  }
}
@keyframes moveFromRightFade {
  from {
    opacity: 0.3;
    transform: translateX(100%);
  }
}
@-webkit-keyframes moveToTopFade {
  to {
    opacity: 0.3;
    -webkit-transform: translateY(-100%);
  }
}
@-moz-keyframes moveToTopFade {
  to {
    opacity: 0.3;
    -moz-transform: translateY(-100%);
  }
}
@keyframes moveToTopFade {
  to {
    opacity: 0.3;
    transform: translateY(-100%);
  }
}
@-webkit-keyframes moveFromTopFade {
  from {
    opacity: 0.3;
    -webkit-transform: translateY(-100%);
  }
}
@-moz-keyframes moveFromTopFade {
  from {
    opacity: 0.3;
    -moz-transform: translateY(-100%);
  }
}
@keyframes moveFromTopFade {
  from {
    opacity: 0.3;
    transform: translateY(-100%);
  }
}
@-webkit-keyframes moveToBottomFade {
  to {
    opacity: 0.3;
    -webkit-transform: translateY(100%);
  }
}
@-moz-keyframes moveToBottomFade {
  to {
    opacity: 0.3;
    -moz-transform: translateY(100%);
  }
}
@keyframes moveToBottomFade {
  to {
    opacity: 0.3;
    transform: translateY(100%);
  }
}
@-webkit-keyframes moveFromBottomFade {
  from {
    opacity: 0.3;
    -webkit-transform: translateY(100%);
  }
}
@-moz-keyframes moveFromBottomFade {
  from {
    opacity: 0.3;
    -moz-transform: translateY(100%);
  }
}
@keyframes moveFromBottomFade {
  from {
    opacity: 0.3;
    transform: translateY(100%);
  }
}
/* Extra markup and styles for table-esque vertical and horizontal centering */
.loading {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.loading .loading-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  /* For at least Firefox */
  min-height: 100%;
}
.loading .loading-wrapper-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
md-content.choose-move .md-button {
  height: 64px;
  min-width: 64px;
}
html,
body {
  height: 100%;
}
html .loading,
body .loading {
  font-size: 2em;
}
canvas {
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  /* IE (non-standard property) */
  z-index: auto;
  min-width: 800px;
  position: relative;
}
.canvas-area {
  background-color: #222222;
}
