<div class="combat-view" ng-show="combat">

    <ul ng-if="combatCtrl.choosing" class="ebp action-menu">
        <li ng-repeat="action in combatCtrl.getActions()" ng-click="selectAction(action)">{{action.getActionName()}}</li>
    </ul>
    <div class="status" ng-repeat="member in combat.party" ng-class="combatCtrl.getMemberClass(member,combat.focus)">
        <span class="name">{{member.model.attributes.name}}</span>
        <span class="hp">HP {{member.model.attributes.hp}} / {{member.model.attributes.maxHP}}</span>
        <health-bar model="member.model"></health-bar>
    </div>
</div>