
// Combat View
// --------------------------------------------------------------------------
.combat-view{
  font-family: @pixelFont;
  position: fixed;
  bottom: 0;
  left:0;
  right:0;

  font-size: 1.5em;
  margin-left:auto;
  margin-right:auto;
  width:100%;

  background-color: @menuOverlayBackground;

  .progress {
    margin-bottom:0;
  }
  .status {
    padding: 0 15px;
    border-radius: 0;
    text-align: right;
    color:#fff;
    > * {
      display: inline-block;
    }

    &.focused {
      color:@gameGold;
    }

    /* Damage states */
    &.fine {
      .progress {
        background-color: rgba(33, 79, 120,0.1);
        .progress-bar {
          background-color: rgb(33, 79, 120);
        }
      }
    }
    &.hurt {
      .progress {
        background-color: rgba(230,200,40,0.1);
        .progress-bar {
          background-color: rgba(230,200,40,1);
        }
      }
    }
    &.critical {
      .progress {
        background-color: rgba(183, 0, 5,0.1);
        .progress-bar {
          background-color: rgb(183, 0, 5);
        }
      }

    }
    &.dead {
      .progress {
        background-color: rgba(255, 255, 255,0.1);
        .progress-bar {
          background-color: rgb(255, 255, 255);
        }
      }

    }

    .name {
      float:left;
      text-align: left;
      width:25%;
      .stroke-text(1px,#000);
    }

    .hp {
      .stroke-text(1px,#000);
    }
    .progress {
      .clearfix;
      min-width: 25%;
    }
  }
}


/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
  .combat-view {
    .status {
      font-size: 2.2em;
    }
  }
}