<div class="game-menu container">
    <a href="#" class="trigger pow2-cog" ng-click="open=true" ng-hide="open"></a>
    <div class="navigation ebp menu-fade" ng-show="open">
        <ul class="options">
            <!-- Close -->
            <li><a href="#" ng-click="open=false"><span class="pow2-cog"></span></a></li>
            <!-- Characters -->
            <li ng-class="{active:page=='party'}">
                <a href="#" ng-click="page='party'"><span class="pow2-black-flag"></span></a>
            </li>
            <!-- Inventory/Equipment -->
            <li ng-class="{active:page=='inventory'}">
                <a href="#" ng-click="page='inventory'"><span class="pow2-battle-gear"></span></a>
            </li>
        </ul>
    </div>
    <div class="views" ng-if="open" ng-show="open" ng-class="{open:open}">
        <div class="party" ng-if="page == 'party'">
            <div class="ebp">
                <h1>Party Gold: {{gameModel.attributes.gold}}</h1>
                <button class="btn btn-flap" ng-click="saveGame()">Save Game</button>
            </div>
            <div>
                <hero-card hero="member" ng-repeat="member in party"></hero-card>
            </div>

        </div>
        <div class="inventory" ng-if="page == 'inventory'">
            <inventory-view></inventory-view>
        </div>
        <div class="settings" ng-if="page == 'settings'">
            <level-stats-view></level-stats-view>
        </div>
    </div>

</div>
