<div class="game-menu container">
    <a href="#" class="trigger glyphicon glyphicon-th-list" ng-click="toggle()" ng-hide="open"></a>
    <div class="navigation ebp menu-fade" ng-show="open">
        <ul class="options">
            <!-- Close -->
            <li><a href="#" ng-click="toggle()"><span class="glyphicon glyphicon-th-list"></span></a></li>
            <!-- Characters -->
            <li ng-class="{active:page=='party'}">
                <a href="#" ng-click="showParty()"><span class="pow2-black-flag"></span></a>
            </li>
            <!-- Inventory/Equipment -->
            <li ng-class="{active:page=='inventory'}">
                <a href="#" ng-click="showInventory()"><span class="pow2-battle-gear"></span></a>
            </li>
        </ul>
    </div>
    <div class="views" ng-if="open" ng-show="open" ng-class="{open:open}">
        <div class="party ebp" ng-if="page == 'party'">
            <div class="">
                <h1>Party Gold: {{gameModel.attributes.gold}}</h1>
                <button class="btn btn-flat" ng-click="saveGame()">Save Game</button>
            </div>
            <hero-card hero="member" ng-repeat="member in party"></hero-card>
        </div>
        <div class="inventory ebp" ng-if="page == 'inventory'">
            <inventory-view></inventory-view>
        </div>
    </div>

</div>
