<button class="btn-close btn btn-flap" ng-click="store=null"><i class="glyphicon glyphicon-remove"></i></button>
<div class="title" ng-show="store">
    <div class="name ebp">
        <h1>{{store.name}}</h1> <span>Gold: {{gameModel.attributes.gold}}</span>
    </div>
</div>

<div class="store" ng-show="store">
    <div class="inventory ebp">
        <ul class="container">
            <li class="item" ng-repeat="item in store.inventory" ng-click="buyItem(item)">
                <span class="icon" icon-render icon="item.icon">
                </span>
                <span class="item-name">{{item.name}}</span>
                <span class="item-price">{{item.cost}}</span>
            </li>
        </ul>
    </div>
</div>
