<div class="temple-view">
    <div class="title">
        <div class="name ebp">
            <div icon-render icon="temple.icon"></div>
            <h1>{{temple.name}}</h1>
        </div>
    </div>

    <div class="prompt ebp">
        <h2>It will cost you {{temple.cost}} of your {{gameModel.attributes.gold}} monies to heal here.</h2>
        <p>Would you like to heal your party members?</p>
        <button class="btn btn-flat" ng-click="heal()">Yes</button>
        <button class="btn btn-flat" ng-click="cancel()">No</button>
    </div>

    <div class="party">
        <hero-view hero="member" class="member" ng-repeat="member in party"></hero-view>
    </div>
</div>
