<div class="dorkapon-hud">
    <ul>
        <li class="name"><strong>{{hud.turn.player.model.attributes.name}}</strong></li>
        <li class="moves"><strong>{{hud.turn.player.model.attributes.moves}} moves left</strong></li>
    </ul>

    <div class="determine-turns" ng-show="hud.picking">
        <div class="card-holder">
            <div class="cards">
                <h1 ng-show="!hud.pick">You Attack {{hud.pickCorrect ? "First" : "Second"}}</h1>
                <div class="card" ng-class="{picked:pickedLeft,picking:hud.pick}" ng-click="hud.pick(true);pickedLeft=true">
                    <span >{{hud.leftText}}</span>
                </div>
                <div class="card" ng-class="{picked:pickedRight,picking:hud.pick}" ng-click="hud.pick(false);pickedRight=true">
                    <span>{{hud.rightText}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="loading fade" ng-show="hud.combat && !hud.picking">
        <div class="loading-wrapper">
            <div class="loading-wrapper-inner">
                <div class="hero-container">
                    <h1>Fighting</h1>
                    <p>And stuff...</p>
                </div>
            </div>
        </div>
    </div>
</div>
