<md-dialog aria-label="Determine Turn Order">
  <md-content>
    <h1 ng-show="combat.pick">Choose A Card</h1>

    <h1 ng-show="!combat.pick">You Attack {{combat.pickCorrect ? "First" : "Second"}}</h1>
  </md-content>
  <div class="md-actions" layout="row">
    <md-button flex="50" ng-class="{picked:pickedLeft,picking:combat.pick}"
               ng-click="combat.pick(true);pickedLeft=true">
      <h1>{{combat.leftText}}</h1>
    </md-button>
    <span flex></span>
    <md-button flex="50" ng-class="{picked:pickedRight,picking:combat.pick}"
               ng-click="combat.pick(false);pickedRight=true">
      <h1>{{combat.rightText}}</h1>
    </md-button>
  </div>
</md-dialog>
