<md-dialog aria-label="Choose Player Move">
  <md-content class="choose-move" layout="column" layout-align="center center">
    <i class="image" icon-render icon="choose.current.model.attributes.icon" frame="7" width="48" height="48"></i>

    <h3>Choose Move</h3>

    <div layout-fill layout layout-align="center center">
      <md-button class="md-primary" ng-click="choose.select('physical')">{{choose.physicalText}}</md-button>
    </div>
    <div layout-fill layout="row" layout-align="space-between center">
      <md-button class="md-primary" ng-click="choose.select('magic')">{{choose.magicText}}</md-button>
      <md-button class="md-primary" ng-click="choose.select('special')">{{choose.specialText}}</md-button>
    </div>
    <div layout-fill layout layout-align="center center">
      <md-button class="md-primary" ng-click="choose.select('skill')">{{choose.skillText}}</md-button>
    </div>
  </md-content>
</md-dialog>
