<!-- EBURP-->
<!doctype html>
<html ng-app="eburpDemo">
<head>
    <title>Powers of Two</title>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/fbcanvas.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/fonts/minecraftia/stylesheet.css" media="all" />


    <script type="text/javascript">
        var pixelWidth = 4;
        window._context = <%- pageContext %>;
    </script>
    <script type="text/javascript" src="/js/underscore-min.js"></script>
    <script type="text/javascript" src="/js/backbone-min.js"></script>
    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/js/enquire.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
    <!-- start Mixpanel -->
    <script type="text/javascript">
        (function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
        typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
        b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
        mixpanel.init("<%=mixpanelToken%>");
    </script>
    <!-- end Mixpanel -->

</head>
<body id="fb-root">
<div class="fb-container">
    <div eight-bit-panel>
        <span ng-show="user"><span class="username">{{user.name}}</span> - <a href="#" ng-click="logout()">Log out</a></span>
        <a href="#" ng-hide="user" ng-click="login()">Login With Facebook</a>
    </div>
</div>

<div class="game-container">
    <canvas id="screenID" width="576" height="576"></canvas>
</div>

<div><canvas id="controlID" width="432" height="216" onclick="phoneClick(event, 0, 0)"></canvas></div>
<canvas id="workID" width="60px" height="60px"></canvas>

<!-- Compiled Game Files -->
<script src="//connect.facebook.net/en_US/all.js"></script>

<script type="text/javascript" src="/eburp.core.js"></script>
<script type="text/javascript" src="/eburp.js"></script>
<script type="text/javascript" src="/eburp.data.js"></script>
<script type="text/javascript" src="/eburp.sprites.js"></script>
<script type="text/javascript" src="/eburp.maps.js"></script>
<script type="text/javascript" src="/fbcanvas.js"></script>

</body>
</html>
