<!-- EBURP-->
<!doctype html>
<html ng-app="pow2">
<head>
    <title>Pow2 - Develop</title>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/index.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/fonts/minecraftia/stylesheet.css" media="all" />
    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/js/underscore.js"></script>
    <script type="text/javascript" src="/js/backbone.js"></script>
    <script type="text/javascript" src="/js/angular-1.2.9/angular.js"></script>
    <script type="text/javascript" src="/js/base64.js"></script>
</head>
<body ng-controller="RPGGameController">

<div class="game-container">
    <canvas width="576" height="576" game-canvas ng-hide="inCombat">
        Your browser doesn't support this.
    </canvas>
    <canvas width="576" height="576" combat-canvas ng-show="inCombat">
        Your browser doesn't support this.
    </canvas>
    <div class="menu-overlay">
        <span class="glyphicon glyphicon-user" ng-click="showParty()"></span>
        <span class="glyphicon glyphicon-cog" ng-click="showSettings()"></span>
    </div>
    <div class="container">
        <dialog-bubble ng-show="dialog"></dialog-bubble>
        <store-bubble ng-show="store"></store-bubble>
        <combat-view ng-show="inCombat"></combat-view>
        <temple-view ng-show="temple"></temple-view>
        <!--<hero-stats-view hero="gameModel.party[0]"></hero-stats-view>-->

        <div class="stats-table col-xs-12" eight-bit-panel>
            <div class="col-xs-6">
                <h3>Warrior</h3>
                <div class="row">
                    <div class="col-xs-1">LVL</div>
                    <div class="col-xs-2">EXP</div>
                    <div class="col-xs-1">HP</div>
                    <div class="col-xs-1">STR</div>
                    <div class="col-xs-1">AGL</div>
                    <div class="col-xs-1">VIT</div>
                    <div class="col-xs-1">INT</div>
                </div>
                <div class="row" ng-repeat="level in warriorLevelTable">
                    <div class="col-xs-1">{{level.level}}</div>
                    <div class="col-xs-2">{{level.experience}}</div>
                    <div class="col-xs-1">{{level.hp}}</div>
                    <div class="col-xs-1">{{level.strength}}</div>
                    <div class="col-xs-1">{{level.agility}}</div>
                    <div class="col-xs-1">{{level.vitality}}</div>
                    <div class="col-xs-1">{{level.intelligence}}</div>
                </div>
            </div>
            <div class="col-xs-6">
                <h3>Wizard</h3>
                <div class="row">
                    <div class="col-xs-1">LVL</div>
                    <div class="col-xs-2">EXP</div>
                    <div class="col-xs-1">HP</div>
                    <div class="col-xs-1">STR</div>
                    <div class="col-xs-1">AGL</div>
                    <div class="col-xs-1">VIT</div>
                    <div class="col-xs-1">INT</div>
                </div>
                <div class="row" ng-repeat="level in wizardLevelTable">

                    <div class="col-xs-1">{{level.level}}</div>
                    <div class="col-xs-2">{{level.experience}}</div>
                    <div class="col-xs-1">{{level.hp}}</div>
                    <div class="col-xs-1">{{level.strength}}</div>
                    <div class="col-xs-1">{{level.agility}}</div>
                    <div class="col-xs-1">{{level.vitality}}</div>
                    <div class="col-xs-1">{{level.intelligence}}</div>
                </div>

            </div>
        </div>

    </div>
</div>

<!-- Image drop screen overlay -->
<div class="drop-overlay" ng-show="overlayText">
    <div eight-bit-panel>{{overlayText}}</div>
</div>

<!-- Compiled Game Files -->
<% for(var i=0; i<scripts.length; i++) {%>
<script type="text/javascript" src="/<%= scripts[i] %>"></script>
<% } %>

<script type="text/javascript" src="/pow2.data.js"></script>
<script type="text/javascript" src="/pow2.sprites.js"></script>

</body>
</html>