// Core variables and mixins
@import "less/bootstrap/variables";
@import "less/bootstrap/mixins";

// Reset
@import "less/bootstrap/normalize";
@import "less/bootstrap/print";

// Core CSS
@import "less/bootstrap/scaffolding";
@import "less/bootstrap/type";
@import "less/bootstrap/code";
@import "less/bootstrap/grid";
@import "less/bootstrap/tables";
@import "less/bootstrap/forms";
@import "less/bootstrap/buttons";

// Utility classes
@import "less/bootstrap/utilities";
@import "less/bootstrap/responsive-utilities";

//@import "less/bootstrap/bootstrap.less";//
body {
  padding:0;
  margin:0;
  text-align: center;
  background-color: black;
}
canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}
#workID{
  position:absolute;
  left:-9000px;
  top:-9000px;
}
.game-container {
  position: relative;
  .title {
    position: absolute;
    top: 5%;
    width:75%;
    right: 0;
    left: 0;
    margin: auto;
  }
  .bottom {
    position: absolute;
    bottom: 5%;
    width:45%;
    right: 0;
    left: 0;
    margin: auto;
  }
}

.ebp {
  .ebp-frame{
    .eight-bit-panel(6px);
    font-size: 16px;
    padding: 6px;
  }
  &.small .ebp-frame {
    .eight-bit-panel(2px);
    font-size: 14px;
    padding: 2px;
  }
  &.large .ebp-frame {
    .eight-bit-panel(10px);
    font-weight: bold;
    font-size: 50px;
    padding: 10px;
  }

}
//
.ebp-game-pad {
  > * {
    font-weight: bold;
    font-size: 20px;
  }
  .ebp {
    cursor: pointer;
    .ebp-frame {
      padding: 10px;
      margin-bottom:10px;
      width:100%;
    }

  }
}


// eight-bit-panel
.eight-bit-panel(@borderWidth:10px,@color: white, @backgroundColor:#004c62) {
  @shadowColor:rgba(0, 0, 0, 0.7);
  @shadowDepth: @borderWidth / 5;
  @btnHalfBorder: @borderWidth / 2;
  font-family: 'minecraftiaregular',monospace;
  color: @color;
  display:inline-block;
  position: relative;
  text-align: center;
  padding: @btnHalfBorder @btnHalfBorder;
  text-shadow: @shadowDepth @shadowDepth 0 @shadowColor;
  font-smooth: never;
  -webkit-font-smoothing : none;
  -moz-font-smoothing : none;
  border: @borderWidth solid @color;
  border-left:none;
  border-right: none;
  background-color: @backgroundColor;
  margin-left:-@borderWidth;
  margin-right:-@borderWidth;

  &::before, &::after{
    background-color: @color;
    content: "";
    position: absolute;
    width: @borderWidth;
    height:auto;
    top: 0;
    bottom:0;
  }
  &::before { left: -@borderWidth; }
  &::after  { right: -@borderWidth; }

  .tl, .tr, .bl, .br {
    position: absolute;
    width: @borderWidth;
    height: @borderWidth;
    background-color: @color;
  }
  .tl{ left: -@btnHalfBorder; top: -@btnHalfBorder; }
  .tr{ right: -@btnHalfBorder; top: -@btnHalfBorder; }
  .bl{ left: -@btnHalfBorder; bottom: -@btnHalfBorder; }
  .br{ right: -@btnHalfBorder; bottom: -@btnHalfBorder; }
}


