<!-- EBURP-->
<!doctype html>
<html ng-app="pow2">
<head>
    <title>Pow2 - Develop</title>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/index.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/fonts/minecraftia/stylesheet.css" media="all" />
    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/js/underscore.js"></script>
    <script type="text/javascript" src="/js/backbone.js"></script>
    <script type="text/javascript" src="/js/astar-min.js"></script>
    <script type="text/javascript" src="/js/angular-1.2.9/angular.js"></script>
    <script type="text/javascript" src="/js/angular-1.2.9/angular-sanitize.js"></script>
    <script type="text/javascript" src="/js/angular-1.2.9/angular-touch.js"></script>
    <script type="text/javascript" src="/js/angular-1.2.9/angular-animate.js"></script>
    <script type="text/javascript" src="/js/angular-strap/angular-strap.js"></script>
    <script type="text/javascript" src="/js/angular-strap/angular-strap.tpl.js"></script>
</head>
<body ng-controller="RPGGameController">

<game-menu></game-menu>

<div class="game-container">
    <canvas class="game-view map scale-down" width="576" height="576" game-canvas ng-hide="inCombat">
        Your browser doesn't support this.
    </canvas>
    <canvas class="game-view combat scale-down" width="576" height="576" combat-canvas ng-hide="!inCombat">
        Your browser doesn't support this.
    </canvas>
</div>

<div class="ui-container container">
    <dialog-view ng-show="dialog"></dialog-view>
    <store-view ng-show="store"></store-view>
    <combat-view ng-show="inCombat"></combat-view>
    <temple-view ng-show="temple"></temple-view>
    <level-stats-view></level-stats-view>
</div>


<!-- Image drop screen overlay -->
<div class="drop-overlay" ng-show="overlayText">
    <div class="ebp">{{overlayText}}</div>
</div>

<!-- Compiled Game Files -->
<% for(var i=0; i<scripts.length; i++) {%>
<script type="text/javascript" src="/<%= scripts[i] %>"></script>
<% } %>

<script type="text/javascript" src="/pow2.data.js"></script>
<script type="text/javascript" src="/pow2.sprites.js"></script>

</body>
</html>