// Core variables and mixins
@import "less/bootstrap/variables";
@import "less/bootstrap/mixins";

// Reset
@import "less/bootstrap/normalize";
@import "less/bootstrap/print";

// Core CSS
@import "less/bootstrap/scaffolding";
@import "less/bootstrap/type";
@import "less/bootstrap/code";
@import "less/bootstrap/grid";
@import "less/bootstrap/tables";
@import "less/bootstrap/forms";
@import "less/bootstrap/buttons";

// Utility classes
@import "less/bootstrap/utilities";
@import "less/bootstrap/responsive-utilities";
@import "less/eightBitPanel";
* {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none;
}

body {
  background-color: darken(#212121,5%);
  margin:0;
  overflow: hidden;
}

canvas {
  .box-sizing(border-box);
}
.drop-overlay {
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  position: fixed;
  background-color: #222222;
  background-color: rgba(34,34,34,0.9);
  display: none;
  z-index: 50;
  .ebp {
    top: 38%;
    left: 20px;
    right:20px;
    margin:auto;
    position: absolute;
    padding:25px;
    font-size: 32px;

  }
}
