// Core variables and mixins
@import "less/bootstrap/variables";
@import "less/bootstrap/mixins";

// Reset
@import "less/bootstrap/normalize";
@import "less/bootstrap/print";

// Core CSS
@import "less/bootstrap/scaffolding";
@import "less/bootstrap/type";
@import "less/bootstrap/code";
@import "less/bootstrap/grid";
@import "less/bootstrap/tables";
@import "less/bootstrap/forms";
@import "less/bootstrap/buttons";

// Utility classes
@import "less/bootstrap/utilities";
@import "less/bootstrap/responsive-utilities";
@import "less/eightBitPanel";

body {
  text-align:center;
  background-color: darken(#212121,5%);
}
.drop-overlay {
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  position: fixed;
  background-color: #222222;
  background-color: rgba(34,34,34,0.9);
  display: none;
  z-index: 50;

  .ebp {
    top: 38%;
    left: 0;
    right:0;
    margin:auto;
    position: absolute;
    .ebp-frame {
      padding:25px;
    }

  }
}
.container {
  .row {
    margin-top:25px;
  }
  .game-view {
    .ebp-frame {
      padding:0;

      .content {
        height:576px;
      }
    }
  }
  .drop-target {
    margin-left:auto;
    margin-right:auto;
    width:256px;
    text-align:center;
    .file-source{
      margin-bottom:10px;
      img {
        max-width:16px;
        max-height:16px;
        margin-bottom:4px;
      }
    }
    canvas {
      display: block;
      margin: auto;
    }
    .ebp-frame {
      width:100%;
      height:100%;
    }
  }
}
