<!-- EBURP-->
<!doctype html>
<html ng-app="twoFiftySix">
<head>
    <title>256px Challenge</title>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/twofiftysix.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/fonts/minecraftia/stylesheet.css" media="all" />
    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/js/underscore-min.js"></script>
    <script type="text/javascript" src="/js/backbone-min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
</head>
<body ng-controller="twoFiftySixApp">

<div class="container">
    <div class="row">
        <div class="toolbar col-sm-9">
            <div class="title" eight-bit-panel>
                <span class="head">256px challenge</span>
            </div>
            <div class="greetings" eight-bit-panel>
                <span class="col-sm-11">
                    <span ng-show="sharedUrl">Great, your sprite URL is <a class="shared-url" href="{{sharedUrl}}">{{sharedUrl}}</a></span>
                    <span ng-hide="sharedUrl">
                        Create a 16x16 replacement sprite, drop it on the page, and share with your friends.<br/>
                        <a ng-hide="spriteCatalog" ng-click="showSpriteCatalog()">View Sprite Catalog</a>
                        <a ng-show="spriteCatalog" ng-click="hideSpriteCatalog()">Hide Sprite Catalog</a>
                    </span>
                </span>
                <span class="col-sm-1 pointer">></span>
            </div>
            <div class="greetings-sm" eight-bit-panel>
                <span class="col-sm-12">
                    <span>The game view doesn't look so hot in mobile resolutions at the moment.  You can still view the sprite catalog though.</span>
                </span>
                <div>
                    <a ng-hide="spriteCatalog" ng-click="showSpriteCatalog()">View Sprite Catalog</a>
                    <a ng-show="spriteCatalog" ng-click="hideSpriteCatalog()">Hide Sprite Catalog</a>
                </div>
            </div>
        </div>
        <div class="user-sprite col-sm-3">
            <div eight-bit-panel>
                <div class="file-source">
                    <div>
                        <% if(shared){ %>
                        <img src="<%= shared %>">
                        <% } else { %>
                        <img>
                        <% } %>
                        <span class="filename"<% if(user){ %> ng-hide="hasImage"<% } %>>Sprite</span>
                        <span ng-show="hasImage">
                        <% if(user){ %>
                            <a href="javascript:void(0);" ng-click="shareImage()">Share</a>
                        <% } %>
                            <a href="javascript:void(0);" ng-click="clearImageData()">&times;</a>
                        </span>
                    </div>
                </div>
                <canvas width="96" height="96" image-drop></canvas>
                <% if(user){ %>
                <div class="username"><%= user.name %></div> <a href="/auth/logout">Log out</a>
                <% } else { %>
                <a href="/auth/facebook">Login</a>
                <% } %>
            </div>
        </div>
    </div>
</div>

<div class="game-view container" ng-hide="spriteCatalog">
    <div class="row">
        <div class="col-xs-1"><button class="arrow" type='button' eight-bit-panel ng-click="previousMap()"><</button></div>
        <div class="col-xs-10">
            <div class="large" eight-bit-panel>
                <span class="map-name">
                    <span eight-bit-panel>{{mapName}}</span>
                </span>
                <canvas width="576" height="576" game-view>Your browser doesn't support this.</canvas>
            </div>
        </div>
        <div class="col-xs-1"><button class="arrow" type='button' eight-bit-panel ng-click="nextMap()">></button></div>
    </div>
</div>

<div class="sprites-view container" ng-show="spriteCatalog">
    <div class="row" ng-repeat="(key,value) in spriteCategories">
        <div eight-bit-panel>
            <p>{{key}} - <a href="/images/{{key}}.png" target="_blank">download</a></p>
            <img class="thumbnail" ng-repeat="sprite in value" src="{{sprite}}">
        </div>
    </div>
</div>


<div class="container external-links">
    <div eight-bit-panel>
        <a href="/">Game</a> / <a href="https://github.com/justindujardin/pow2">Github</a>
    </div>

</div>

<!-- Compiled Game Files -->
<script type="text/javascript" src="/eburp.core.js"></script>
<script type="text/javascript" src="/eburp.js"></script>
<script type="text/javascript" src="/eburp.data.js"></script>
<script type="text/javascript" src="/eburp.sprites.js"></script>
<script type="text/javascript" src="/eburp.maps.js"></script>
<script type="text/javascript" src="/twofiftysix.js"></script>
<script type="text/javascript" src="/services/sourceSprites.js"></script>
<script type="text/javascript" src="/directives/gameView.js"></script>
<script type="text/javascript" src="/directives/imageDrop.js"></script>

<!-- Image drop screen overlay -->
<div class="drop-overlay">
    <div eight-bit-panel>Drop your image anywhere.</div>
</div>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-8701293-5', 'pow2.herokuapp.com');
    ga('send', 'pageview');
</script>
</body>
</html>