<!-- EBURP-->
<!doctype html>
<html ng-app="twoFiftySix">
<head>
    <title>E.B.U.R.P.</title>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/twofiftysix.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/fonts/minecraftia/stylesheet.css" media="all" />
    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/js/underscore-min.js"></script>
    <script type="text/javascript" src="/js/backbone-min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
</head>
<body ng-controller="twoFiftySixApp">

<div class="container">
    <div class="row large" eight-bit-panel>256px challenge</div>

    <div class="login row" eight-bit-panel>
    <% if(user){ %>
        <span class="username"><%= user.name %></span> - <a href="/auth/logout">Log out</a> | <a href="javascript:void(0);" ng-click="shareImage()">Share</a>
        <a href="{{sharedUrl}}">{{sharedUrl}}</a>
    <% } else { %>
        <a href="/auth/facebook">Login to share your work</a>
    <% } %>
    </div>

    <div class="game-view row large" eight-bit-panel>
        <canvas width="576" height="576" two-fifty-six>Your browser doesn't support this.</canvas>
    </div>
</div>

<div class="container">
    <div class="drop-target row" eight-bit-panel>
        <div class="file-source">
            <% if(shared){ %>
            <img src="<%= shared %>">
            <% } else { %>
            <img>
            <% } %>
            <span class="filename">Party.PNG</span>
        </div>
        <canvas width="128" height="128" image-drop></canvas>
    </div>
</div>

<!-- Compiled Game Files -->
<script type="text/javascript" src="/eburp.core.js"></script>
<script type="text/javascript" src="/eburp.js"></script>
<script type="text/javascript" src="/eburp.data.js"></script>
<script type="text/javascript" src="/eburp.sprites.js"></script>
<script type="text/javascript" src="/eburp.maps.js"></script>
<script type="text/javascript" src="/twofiftysix.js"></script>

<!-- Error messages overlay -->
<div class="error-overlay" ng-show="error">
    <div class="large" eight-bit-panel>{{error}}</div>
</div>

<!-- Image drop screen overlay -->
<div class="drop-overlay">
    <div class="large" eight-bit-panel>Drop your image anywhere.</div>
</div>

</body>
</html>