<!-- EBURP-->
<!doctype html>
<html ng-app="twoFiftySix">
<head>
    <title>E.B.U.R.P.</title>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/twofiftysix.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/fonts/minecraftia/stylesheet.css" media="all" />
    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/js/underscore-min.js"></script>
    <script type="text/javascript" src="/js/backbone-min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
</head>
<body ng-controller="twoFiftySixApp">

<div class="container">
    <div class="row">
        <div class="toolbar col-xs-9">
            <div class="title" eight-bit-panel>
                <span class="head">256px challenge</span>
            </div>
            <div eight-bit-panel>
                <span class="col-xs-11">
                    <span ng-show="sharedUrl">Great, your sprite URL is <a class="shared-url" href="{{sharedUrl}}">{{sharedUrl}}</a></span>
                    <span ng-hide="sharedUrl">Create a 16x16 replacement sprite, drop it on the page, and share with your friends.</span>
                </span>
                <span class="col-xs-1 pointer">></span>
            </div>
        </div>
        <div class="user-sprite col-xs-3">
            <div eight-bit-panel>
                <div class="file-source">
                    <div>
                        <% if(shared){ %>
                        <img src="<%= shared %>">
                        <% } else { %>
                        <img>
                        <% } %>
                        <span class="filename"<% if(user){ %> ng-hide="hasImage"<% } %>>Sprite</span>
                        <span ng-show="hasImage">
                        <% if(user){ %>
                            <a href="javascript:void(0);" ng-click="shareImage()">Share</a>
                        <% } %>
                            <a href="javascript:void(0);" ng-click="clearImageData()">&times;</a>
                        </span>
                    </div>
                </div>
                <canvas width="96" height="96" image-drop></canvas>
                <% if(user){ %>
                <div class="username"><%= user.name %></div> <a href="/auth/logout">Log out</a>
                <% } else { %>
                <a href="/auth/facebook">Login</a>
                <% } %>
            </div>
        </div>
    </div>
</div>

<div class="game-view container">
    <div class="row">
        <div class="large col-xs-12" eight-bit-panel>
            <canvas width="576" height="576" game-view>Your browser doesn't support this.</canvas>
        </div>

    </div>
</div>


<!-- Compiled Game Files -->
<script type="text/javascript" src="/eburp.core.js"></script>
<script type="text/javascript" src="/eburp.js"></script>
<script type="text/javascript" src="/eburp.data.js"></script>
<script type="text/javascript" src="/eburp.sprites.js"></script>
<script type="text/javascript" src="/eburp.maps.js"></script>
<script type="text/javascript" src="/twofiftysix.js"></script>
<script type="text/javascript" src="/directives/gameView.js"></script>
<script type="text/javascript" src="/directives/imageDrop.js"></script>

<!-- Image drop screen overlay -->
<div class="drop-overlay">
    <div eight-bit-panel>Drop your image anywhere.</div>
</div>

</body>
</html>